.root {
	-fx-font-family: "Helvetica";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.preloader {
	-fx-border-color: #aed3d6;
	-fx-border-width: 8px;
	-fx-background-image: url("../resources/splash.png");
	-fx-border-radius: 15;
	-fx-background-size: 712, 414;
	-fx-background-radius: 18;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}

.progress-bar > .track {
	-fx-text-box-border: #0d2854;
	-fx-control-inner-background: #264982;
}

.progress-bar .bar {
	-fx-padding: 2px; 
    -fx-background-insets: 1;
    -fx-background-color: #aed3d6;
}

#preloader-lbl {
	-fx-font-size: 18px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.button {
	-fx-pref-width: 128px;
	-fx-background-color: #536DFE;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 15px;
	-fx-border-radius: 15px;
	-fx-skin: 'ui.skins.BlueButtonSkin';
}

.button:hover {
	-fx-text-fill: #536DFE;
}

.button:active {
	-fx-background-color: #d7e3f5;
	-fx-border-color: #5089de;
}

.app-title {
	-fx-font-size: 25px;
}

.subtitle {
	-fx-font-size: 19px;
	-fx-font-style: italic;
}

.vbox {
	-fx-background-color: #B3E5FC;
}

.current-scene {
	-fx-background-color: #bde1f2;
}